# .dotfiles
alias aliases='subl ~/.aliases'
alias exports='subl ~/.exports'
alias functions='subl ~/.functions'

# Overrides
alias ls='colorls -al'
alias cat='bat'

# Functions
alias mk=mkFunction

# Other
alias hosts='sudo $EDITOR /etc/hosts'
