# .dotfiles
alias aliases='$EDITOR ~/.aliases'
alias exports='$EDITOR ~/.exports'
alias functions='$EDITOR ~/.functions'

# Functions
alias mk=mkFunction

# Other
alias hosts='sudo $EDITOR /etc/hosts'
alias reload='source ~/.zshrc'
