[user]
    name  = Gaurav Mali
    email = dev@gauravmali.com

[log]
    decorate = short

[color]
    branch      = true
    diff        = true
    interactive = true
    status      = true
    ui          = true
    auto        = true

[rerere]
    enabled = true
    # Reuse recorded resolution of conflicted merges
    # see `man git-rerere'

[push]
    default = tracking

[alias]
    # git graph => * 1234567 first commit - Gaurav Mali  [24 hours ago]
    graph  = log --graph --format=format:'%C(bold)%C(yellow)%h %C(white)%s %Creset%C(green)- %cn %C(red)%d %C(blue)[%cr]' --all
    last   = log -1 HEAD
    st     = status
    staged = diff --cached
    save   = commit -v
    ci     = commit
    nuke   = checkout -p
    cob    = checkout -b
    com    = checkout master
    co     = checkout
    amend  = commit --amend
    patch  = add -p
    rhom   = reset --hard origin/master

[apply]
    whitespace = fix
    # automagically fix whitespace
    # see `man git-apply' for other options

# More here: https://github.com/derwiki/dotfiles/blob/master/.gitconfig
[hooks]
	runjscs = true
	runpyflakes = true
